*{
	margin: 0 auto;
}
h1{
font-family:fantasy;
}
h2{
font-family:poppins;
}
 h3{
font-family: Courgette;
}
.navbar{
	background: #111;
}
.bgimg{
	background-image: url('../img/5564130-san-francisco-wallpapers.jpg');
	background-size: 100% 100%;
	background-attachment: fixed;
	width: 100%;
	height: 975px;
}
.btn{
	background:#F0FF00 ;
}
.headerset{
	padding-top: 450px;
	box-sizing: border-box;
}
.headerset h2{
	font-size: 42px;
}
.headerset h1{
	font-size: 82px;
	font-weight: bold;
}
                      /* service section */
.ourservices{
	padding: 80px 60px;
	height: 750px;
}
.rowsetting{
	margin: 90px 0px;
}
.ourservices h1{
	font-size: 50px;
	font-weight: bold;
}
.imgsetting{
	border-radius:50%;
	height: 100px;
	width: 100px;
	background: #F0FF00 ;

}
.fa{
	margin-top: 26px;
}
.rowsetting p{
 padding: 10px;
 color: #6c757d
}
.rowsetting h2{
	margin-top:20px;
	font-weight:bold;
	font-size: 30px;
}



          /* PORTFOLIO */
.portfolio{
	height: 1100px;
	width: 100%;
	padding:100px;
}
.portfolio h1{
	font-size: 50px;
	font-weight: bold;
}
.card{
	margin-top:50px;
	margin-bottom: 20px;
}

                       /* About section our team */
.ourteam{
 height: 700px;
 padding: 100px 30px 60px;
 width: 100%;
}
.ourteam h1{
	font-size: 50px;
	font-weight: bold

}
.teamsettings{
	margin-top: 60px;
}

                  /* social media */
/*  #social-media{

 	padding: 100px 0;
 }
#social-media p{
 	font-size: 26px;
 	font-weight: bold;
 	margin-bottom: 40px;
 }
 .social-icons img{
 	width: 140px;
 	transition: 0.5s;
 	padding: 20px;
 }
  .social-icons a:hover img{
 	transform: translateY(-10px);
 }
 */
         /* footer */
.footer-top .row{
  margin-left: 120px;
 }
.footer-top p{
	color: #fff;
	line-height:25px;
}
.footer-top h2,h3{
	color: #fff;
}
.footer-top{
	background: #111;
	padding: 100px 0 60px;
}
.footer h6{
	line-height:20px;
	margin-right: 50px;
}
.segment-one .fa{
	color:#fff;
	border-radius:5px;
}
.segment-one form input[type=submit]{
	background:#E9F70E ;
	border: none;
	padding: 3px 10px;
	margin-left: 0px;
	text-transform: uppercase;
	border-radius:5px;
}
.segment-one form input[type=email]{

	border-radius:5px;
}



                   /* RESPONSIVE MEDIA QUERY */
@media all and (min-width:992px ){

}
@media all and (min-width:768px ) and (max-width: 991px){


           /* portfolio */
.portfolio{
	height: 1000px;
	width: 100%;
	padding:100px;
}
.portfolio h1{
	font-size: 50px;
	font-weight: bold;
}
.portfolio h2{
	font-size: 20px;
	font-weight:;
}
.card{
	margin-top:50px;
	margin-bottom: 10px;
}

             /* about */
.ourteam{
 height: 600px;
 padding: 100px 30px 60px;
 width: 100%;
}
.ourteam h1{
	font-size: 36px;
	font-weight: bold

}
.teamsettings{
	margin-top: 60px;
}

          /* footer */
.footer-top .row{
  margin-left: 15px;
 }
.footer-top p{
	color: #fff ;
	line-height:25px;
}
.footer-top h2,h3{
	color:#DDFF00 ;
}
.footer-top{
	background: #111;
	padding: 100px 0 60px;
}

.footer h6{
	line-height:5px;
	margin-right: 50px;
}
.segment-one .fa{
	color:#fff;
	margin-top: -5px;
	margin-bottom: 40px;
}
.segment-one form input[type=submit]{
	background:#E9F70E ;
	border: none;
	padding: 3px 10px;
	margin-left: 0px;
	text-transform: uppercase;
	border-radius:5px;
}
.segment-one form input[type=email]{

	border-radius:5px;
}


}
@media all and (min-width:576px ) and (max-width: 767px)  {

.bgimg{
background-image: url('../img/5564130-san-francisco-wallpapers.jpg');
background-size: 100% 100%;
background-attachment: fixed;
width: 100%;
height: 775px;
}

.headerset h2{
	font-size: 32px;
}
.headerset h1{
	font-size: 72px;
	font-weight: bold;
}
            /* searvices */
.ourservices{
	padding: 80px 60px;
	height: 1000px;
}
.rowsetting{
	margin: 90px 0px;

}
.rowsetting p{
	margin-bottom: 40px;
}
.ourservices h1{
	font-size: 50px;
	font-weight: bold;
}
.ourservices h2{
	font-size: 17px;
	font-weight: bold;
}
           /* portfolio */
.portfolio{
	height: 3050px;
	width: 100%;
	padding:100px;
}
.portfolio h1{
	font-size: 50px;
	font-weight: bold;
}
.card{
	margin-top:50px;
	margin-bottom: 10px;
}

             /* about */
.ourteam{
 height: 1080px;
 padding: 100px 30px 60px;
 width: 100%;
}
.ourteam h1{
	font-size: 36px;
	font-weight: bold

}
.teamsettings{
	margin-top: 60px;
}

          /* footer */
.footer-top .row{
  margin-left: 15px;
 }
.footer-top p{
	color: #fff ;
	line-height:25px;
}
.footer-top h2,h3{
	color:#DDFF00 ;
}
.footer-top{
	background: #111;
	padding: 100px 0 60px;
}

.footer h6{
	line-height:5px;
	margin-right: 50px;
}
.segment-one .fa{
	color:#fff;
	margin-top: -5px;
	margin-bottom: 40px;
}
.segment-one form input[type=submit]{
	background:#E9F70E ;
	border: none;
	padding: 3px 10px;
	margin-left: 0px;
	text-transform: uppercase;
	border-radius:5px;
}
.segment-one form input[type=email]{

	border-radius:5px;
}




}

@media all and (min-width:460px ) and (max-width:575px ) {

.bgimg{
background-image: url('../img/5564130-san-francisco-wallpapers.jpg');
background-size: 100% 100%;
background-attachment: fixed;
width: 100%;
height: 775px;
}

.headerset h2{
	font-size: 32px;
}
.headerset h1{
	font-size: 52px;
	font-weight: bold;
}
            /* searvices */
 .ourservices{
	padding: 80px 60px;
	height: 1380px;
}
.rowsetting{
	margin: 90px 0px;

}
.rowsetting p{
	margin-bottom: 40px;
}
.ourservices h1{
	font-size: 50px;
	font-weight: bold;
}
           /* portfolio */
.portfolio{
	height: 2460px;
	width: 100%;
	padding:100px;
}
.portfolio h1{
	font-size: 50px;
	font-weight: bold;
}
.card{
	margin-top:50px;
	margin-bottom: 10px;
}

             /* about */
.ourteam{
 height: 1080px;
 padding: 100px 30px 60px;
 width: 100%;
}
.ourteam h1{
	font-size: 36px;
	font-weight: bold

}
.teamsettings{
	margin-top: 60px;
}

          /* footer */
.footer-top .row{
  margin-left: 15px;
 }
.footer-top p{
	color: #fff ;
	line-height:25px;
}
.footer-top h2,h3{
	color:#DDFF00 ;
}
.footer-top{
	background: #111;
	padding: 100px 0 60px;
}

.footer h6{
	line-height:5px;
	margin-right: 50px;
}
.segment-one .fa{
	color:#fff;
	margin-top: -5px;
	margin-bottom: 40px;
}
.segment-one form input[type=submit]{
	background:#E9F70E ;
	border: none;
	padding: 3px 10px;
	margin-left: 0px;
	text-transform: uppercase;
	border-radius:5px;
}
.segment-one form input[type=email]{

	border-radius:5px;
}
}

@media all and (max-width: 459px) {

.bgimg{
	background-image: url('../img/5564130-san-francisco-wallpapers.jpg');
	background-size: 100% 100%;
	background-attachment: fixed;
	width: 100%;
	height: 775px;
}

.headerset h2{
	font-size: 36px;
}
.headerset h1{
	font-size: 52px;
	font-weight: bold;
}
            /* searvices */
 .ourservices{
	padding: 80px 60px;
	height: 1600px;
}
.rowsetting{
	margin: 90px 0px;
}
.ourservices h1{
	font-size: 50px;
	font-weight: bold;
}
           /* portfolio */
.portfolio{
	height: 2350px;
	width: 100%;
	padding:100px;
}
.portfolio h1{
	font-size: 50px;
	font-weight: bold;
}
.card{
	margin-top:50px;
	margin-bottom: 10px;
}

             /* about */
.ourteam{
 height: 1100px;
 padding: 100px 30px 60px;
 width: 100%;
}
.ourteam h1{
	font-size: 36px;
	font-weight: bold

}
.teamsettings{
	margin-top: 60px;
}

          /* footer */
.footer-top .row{
  margin-left: 15px;
 }
.footer-top p{
	color: #fff ;
	line-height:25px;
}
.footer-top h2,h3{
	color:#DDFF00 ;
}
.footer-top{
	background: #111;
	padding: 100px 0 60px;
}

.footer h6{
	line-height:5px;
	margin-right: 50px;
}
.segment-one .fa{
	color:#fff;
	margin-top: -5px;
	margin-bottom: 40px;
}
.segment-one form input[type=submit]{
	background:#E9F70E ;
	border: none;
	padding: 3px 10px;
	margin-left: 0px;
	text-transform: uppercase;
	border-radius:5px;
}
.segment-one form input[type=email]{

	border-radius:5px;
}
}
